.login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-bird {
    width: 3.5rem;
    fill: #1da1f2;
   }

#login-form{
width: 450px;
height: 476px;
top: 60px;
left: 735px;
border: 1px;

}
.login-heading{
font-family: Roboto;
font-size: 42px;
font-weight: 900;
line-height: 49px;
letter-spacing: 0em;
text-align: left;

}

.input-login{
    display: flex;
    flex-direction: column;
}

form input {
    padding-left: 30px;
    width: 450px;
    height: 70px;
    color: #ddd;
    top: 181px;
    left: 40px;
    border-radius: 6px;
    border: 1px solid #ddd;
    margin: 10px 0;
    
    } 
    ::placeholder{
    font-family: Segoe UI;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    
     }
     .button{
        margin:20px 0 20px 20px;
        width: 450px;
        height: 60px;
        top: 700px;
        left: 40px;
        border-radius: 76px;
        background-color: #1da1f2;
        border: 1px solid #1da1f2 !important;
        color: white;
        font-size: 18px;
        font-weight: 700;
        }
.login-link{
    display: flex;
    justify-content: space-between;
}

.login-link a{
font-family: Segoe UI;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #1da1f2;
text-decoration: none;
}